.App, html {
  text-align: center;
  color: #F8F5F8;
  background-color:#392f47;
}
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

/********************* HEADER ************************/

#HEADER {
  color:white;
}
#HEADER:hover,
#HEADER:focus {
  color:#F50057;
}
@media screen and (max-width: 341px) {
  div.MuiFormGroup-root.makeStyles-loginToggle-5{
    margin-top: 65px;
  }
}
div.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters{
  height: 64px;
}
#user-info-in-appbar{
  display:flex;
  flex-direction: row;
  font-size:12px;
  align-items:center;
}
#user-info-in-appbar p{
  padding: 0 10px;
  margin:0 0;
}

/********************* NAV-TOPICS ************************/

span.MuiTab-wrapper{
  color:black;
}
span.MuiTab-wrapper:hover{
  color:#F50057;
} 

/********************* ARTICLES-LIST ************************/

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
#articles-list-container{
  width:75%;
  margin: 0 auto;
}

@media only screen and (max-width: 450px){
  #articles-list-container{
    width:95%;
  }
}
/********************* ARTICLE-CARD ************************/

.article-body {
  font-size:14px;
  text-align:left;
}
.card-header, #card-footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.card-header {
  font-size: 12px;
}
.card-header a {
  font-size:12px;
  font-weight: bold;
  color: #000000;
}
.card-header a:hover {
  color:#F50057;
}
.card-title{
  color:black;
}
.card-title:hover{
  color:#F50057;
}
.post-by {
  display:flex;
  flex-direction:row;
}
.post-by p{
  margin: 0;
  margin-left: 5px;
  text-align: left;
  font-size: 12px;
}
#vote-number{
  z-index: 1;
}
#comment-dropdown{
  display: flex;
  flex-direction: row;
}
#comment-dropdown p{
  margin: 0;
  font-size: 16px;
  z-index: 1;
}
.votes-container {
  display: flex;
  flex-direction: row;
}
#vote-buttons {
  display: flex;
  align-content: center;
}
/* causing a weirg green/ red border on focus(not hover) */
#upVote:hover,
#upVote:focus {
  color: #42a978;
  transform: scale(1.3);
}
#downVote:hover,
#downVote:focus  {
  color: #f44336;
  transform: scale(1.3);
}
/* not working on focus */
#show-comments:hover,
#show-comments:focus {
  color: #F50057;
  transform: scale(1.3);
}
button.MuiButtonBase-root.MuiIconButton-root:hover,
button.MuiButtonBase-root.MuiIconButton-root:focus {
  background-color: white;
}

#see-entire-article {
  font-size: 14px;
}
#see-entire-article a{
  color:black;
  font-weight:bold;
}
#see-entire-article a:hover,
#see-entire-article a:focus {
  color: #F50057;
}

/********************* Comments ************************/

#showing-info {
  margin-top: 0;
}
.comment-body {
  font-size:14px;
  text-align:left;
}
#delete-comment-button{
  border: 1px solid #392f47;
  border-radius: 15px;
  color:white;
  margin:0 auto;
  padding:10px;
  font-size: 16px;
  background-color:#392f47;
  margin-right: 10px;
flex-shrink:1;
}

#delete-comment-button:hover,
#delete-comment-button:focus{
  background-color:#F50057;
  outline:none;
}
/********************* CommentAdder ************************/
#post-comment-form{
  display:flex;
  justify-content:center;
}
#post-comment-avatar{
  margin:0 auto;
}
#post-comment-form textarea{
border: 1px solid #392f47;
border-radius: 5px;
font-family: 'Roboto', Helvetica, Arial, sans-serif;
padding:5px; 
margin:0 auto;
margin: 0 10px ;
flex-grow:1;
outline:none
}
#post-comment-form button{
  border: 1px solid #392f47;
  border-radius: 15px;
  color:white;
  margin:0 auto;
  padding:10px;
  font-size: 16px;
  background-color:#392f47;
  width: 60px;
  margin-right: 10px;
  flex-shrink:1;
}
#post-comment-form button:hover,
#post-comment-form button:focus{
  background-color:#F50057;
  outline:none;
}

/********************* UserPage ************************/

#user-info-container{
  display: flex;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content:flex-start
}
#name-and-username{
  padding: 20px;
  padding-top: 10px;
  text-align: left;
}
#topics-and-sortBy{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-evenly;
  flex-wrap:flex;
  flex-shrink:1;
}

/********************* single article page ************************/

#single-article {
  width: 75%;
}
#avatar-img-container{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#comment-count-on-single-page{
  padding-right:20px;
}

/********************* Error Page ************************/
#error-container {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
  margin-top: 10px;
  width: 70%;
  border-radius: 5px;
  padding: 20px;
  flex-wrap: wrap;
}
.error-message {
  color: black;
  font-size: 30px;
}
@media screen and (max-width: 860px){
  #error-container {
    flex-direction: column;
    justify-content:center;
  }
}