.App, html {
  text-align: center;
  color: black;
  background-color: rgb(238, 238, 238);

}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
/********************* HEADER ************************/

/********************* NAV-TOPICS ************************/
nav {
  display:flex;
  flex-direction: row;
  justify-content: center;
  /* max-width: 75%;
  margin: 0 auto; */

}

.nav-buttons {
  /* background-color: pink; */
  text-decoration: none;
  /* width: 150px; */
}
.nav-buttons:hover {
  background-color:green;
}
span.MuiTab-wrapper{color:black}

span.MuiTab-wrapper:hover{
  color:blue;
}
/********************* ARTICLES ************************/
p, h3, h1 { 
  color: black;
}
ul {
  list-style-type: none;
  padding: 0;
  width: 75%;
  margin: 0 auto;
}
.article-card{
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px 60px auto;
  padding: 10px;
  padding-top: 0;
  text-decoration: none;
  background-color: white;
}
.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span.MuiButton-label {
  font-size: 12px;
  padding: 0;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text {
  padding: 0;
}
.post-by{
  font-size: 12px;
  margin: auto 0;
}
div.MuiCardContent-root {
  padding: 5px 10px;
  /* margin: 5px; */
}
div.MuiPaper-root.MuiCard-root.MuiPaper-outlined.MuiPaper-rounded {
  margin: 5px;
}


